
<div class="show_content">
  <div class="show_user_info_box_list">
    <% @athletes.each do |athlete| %>
      <a href="/athletes/<%= athlete.id %>">
        <img src="<%= athlete.image %>">
        <div class="show_user_info_box_text">
          <h3><%= athlete.name %></h3>
          <p><%= athlete.job %></p>
        </div>
      </a>
    <% end %>
  </div>
</div>