body, html {
  height: 100%;
  background-color: #ddd;
}

h1, h2, h3, h4, h5, h6, p, body {
  font-size: 14px;
  color: #4a4a4a;
  font-family: Avenir, sans-serif;
  margin: 0;
  padding: 0;
}

.clearfix:after{
  display: block;
  content: "";
  clear: both;
}

.wrapper{
  min-width: 960px;
  }

header{
  height: 48px;
  background-color: white;
  /*border-bottom: 2px solid #bbb;*/
}

h1{
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  padding-left: 20px;
}

h1 a {
  display: inline-block;
  padding-top: 8px;
}

h1 a:hover {
  background-color: transparent;
}

h1 a img {
  height: 20px;
}

h2{
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
}

a {
  color: #00d8ff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.contents{
  margin: 5px auto 0;
  background-color: white;
  max-width: 600px;
}

form{
  width: 600px;
  background-color: white;
  padding: 5px 0 0;
}

.input-box{
  float: left;
  width: 500px;
}

.input-box input{
  width: 100%;
  margin: 0 0 10px 0;
}

form img{
  border: 1px solid #ccc;
  border-radius: 5px;
  float: left;
  height: 24px;
  margin: 0 5px 5px 34px;
}

.submit-button{
  width: 70px;
  margin: 10px 25px 0 0;
}

form textarea{
  width: 500px;
  border: 1px solid #ccc;
}

.button-box{
  float: right;
  height: 70px;
}

.message{
  min-height: 100px;
/*  width: 598px;*/
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom: none;
  padding: 10px;

  &:last-child {
    border-bottom: 1px solid #ddd;
  }
}

.user_box img{
  border: 1px solid #ccc;
  border-radius: 50%;
  float: left;
  height: 30px;
  width: 30px;
  margin: 10px 10px 10px 0px;
}

.user_box{
  display: flex;
  /*width: 505px;*/
  align-items: center;
  margin: 0 auto;
}

.user_info{
  float: left;
}

.message_box{
  /*width: 505px;*/
  padding: 9px 0 10px;
  margin: 0 auto;
}

.question_title{
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
}

.time{
  color: #bbb;
}

.text{
  margin: 10px 0 0 0;
  line-height: 18px;
}

/*showページ*/

.show_content{
  margin: 20px auto 0;
  background-color: white;
  max-width: 600px;
  border-radius: 2px;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
}

.show_user_info_box{
  display: flex;
  border-bottom: solid #bbb 1px;
  margin: 0 0 16px 0;
}

.show_user_info{

}

.show_user_info_box img{
  border: 1px solid #ccc;
  border-radius: 50%;
  float: left;
  height: 120px;
  width: 120px;
  margin: 10px 10px 10px 10px;
}

.show_user_info_box_list {
  a {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
  }

  img {
    width: 56px;
    height: 56px;
    margin-right: 20px;
  }

  h3 {
    font-size: 24px;
  }

}

.link_athletes a {
  padding: 20px;
  border: 2px solid #00d8ff;
  background-color: #fff;
  text-align: center;
  color: #00d8ff;
  display: block;
  font-weight: bold;
}

.show_user_name{
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  padding: 10px;
}

.show_user_detail{
  padding: 0 0 0 10px;
  color: #bbb;
}

.show_right_content_header{
  padding: 0 0 10px 10px;
  border-bottom: solid #ddd 1px;
  color: #888;
}

.show_right_content_answers{
  padding: 10px;
}

.show_message_box{
  /*width: 505px;*/
  margin: 0 auto;
  padding: 10px 0 10px 0;
  border-bottom: solid #ddd 1px;
}

.show_question_title{
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  margin: 0 0 10px 0;
}

.show_text{
  line-height: 18px;
}
.question_text{
  line-height: 18px;
}

h2 {
  font-size: 20px;
  padding-top: 20px;
}

h2 span {
  display: block;
  margin-top: -15px;
  font-weight: normal;
  font-size: 12px;
}

form {
  margin-top: 30px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

form label {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-bottom: 5px;
}

form input {
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 15px 3px;
  border-radius: 3px;
  box-sizing: border-box;
}

form textarea {
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 15px 3px;
  border-radius: 3px;
  box-sizing: border-box;
}


form .actions input {
  display: table;
  margin: 20px auto;
  background: #4a4a4a;
  color: #fff;
  padding: 15px 60px;
  border-radius: 6px;
  border: 0;
}

.signin_nav, .user_nav {
  position: absolute;
  right: 10px;
  top: 10px;
}

.signin_nav ul, .user_nav ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.user_nav > a {
  display: block;
}

.nav {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;

  span {
    border-bottom: 2px solid #4a4a4a;
    display: block;
    height: 8px;
    width: 30px;
    position: absolute;

    &:nth-of-type(1) {
    top: 0;
    }
    &:nth-of-type(2) {
    top: 10px;
    }
    &:nth-of-type(3) {
    bottom: 0;
    }
  }

  &.active span {
    &:nth-of-type(1) {
      -webkit-transform: translateY(10px) translateX(-5px) rotate(-45deg);
      transform: translateY(10px) translateX(-5px) rotate(-45deg);
    }
    &:nth-of-type(2) {
      opacity: 0;
    }
    &:nth-of-type(3) {
      -webkit-transform: translateY(-10px) rotate(45deg);
      transform: translateY(-10px) rotate(45deg);
    }
  }
}

.user_nav {
  display: none;
  width: 80%;
  min-width: 300px;
  position: absolute;
  top: 45px;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border-left: 1px solid #ddd;

  li {
    border-bottom: 1px solid #ddd;
    width: 100%;

    &.user {
      display: flex;
      padding: 20px;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        display: block;
        margin-right: 10px;
      }
    }

    a {
      display: block;
      padding: 20px;
    }
  }
}



.show_user_info .button {
  margin: 10px;
  background: #4a4a4a;
  border-radius: 6px;
  border: 0;
  color: #fff;
  text-align: center;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}
